<!DOCTYPE html>
<html lang="en">
<head>
    {% include "main/header.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/mmenu2.css' %}">
</head>
<body>
    

    <div class="par1">

        <p class="tit1">Терпение и труд...</p>
        <div class="gr1">
            <p class="tex1">Узнайте о своих правах и обязанностях с помощью нашего сайта! Мало кто знает весь спектр своих возможностей, и именно Вы можете вступить в ряды просвещённых, изучив информацию, изложенную в ТК РФ, положения которого вы найдёте здесь. </p>
                <img class="setimg1" src="static/main/img/pictures1.jpg" alt='Где картинка?'/>
        </div>

    </div>

    <div class="par2">
        <p class="tit2">Информация о нас</p>
        <div class="gr2">
            <img class="setimg2" src="static/main/img/pict2.jpg" alt='Где картинка?'/>
            <p class="tex2">Создатели сайта: Халепа Дмитрий, Бычков Александр. Ученики школы №1581 </p>
        </div>

    </div>

    <button class="btn">
        <a href="ras_menu" class="categ">Список прав</a>
    </button>


</body>
</html>

<!-- <button class="ZOV_ZZZZZZZZZZ">Назад</button>
<style>
    .ZOV_ZZZZZZZZZZ {
        width: 25%;
        height: 15%;
        background: linear-gradient(63deg, #FADBBC, #EBDBCB, #DBDBDB, #CBDBEB, #BCDBFA);
        border-radius: 3rem;
        font-size: 2.5rem;
        color: #;
    }
</style> -->



