<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>RFWorkLaw</title>
</head>
<body>
<div style="width: 100%; height: 100%; position: relative; background: white">
<div style="width: 1440px; height: 200px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, #F9CCCA 0%, #EDCCD6 25%, #E1CCE1 50%, #D6CCED 75%, #CACCF9 100%)">
<div style="width: 600px; height: 120px; left: 786px; top: 40px; position: absolute">
<div style="width: 360px; height: 120px; padding-top: 39px; padding-bottom: 38px; padding-left: 25px; padding-right: 26px; left: 240px; top: 0px; position: absolute; background: linear-gradient(90deg, #F52024 0%, #8F1315 100%); border-radius: 20px; justify-content: center; align-items: center; display: inline-flex">
<div style="width: 309px; text-align: center; color: white; font-size: 36px; font-family: Kyiv*Type Titling; font-weight: 350; letter-spacing: 7.20px; word-wrap: break-word">Регистрация</div>
</div>
<div style="width: 200px; height: 120px; padding-top: 39px; padding-bottom: 38px; padding-left: 44px; padding-right: 45px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, #F52042 0%, #BF2970 25%, #8A319B 50%, #553AC8 75%, #2042F5 100%); border-radius: 20px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
<div style="text-align: center; color: white; font-size: 36px; font-family: Kyiv*Type Titling; font-weight: 350; letter-spacing: 7.20px; word-wrap: break-word">Вход</div>
</div>
</div>
<div style="left: 82px; top: 62px; position: absolute; text-align: center"><span style="color: #F52042; font-size: 64px; font-family: Inter; font-weight: 400; word-wrap: break-word">Т</span><span style="color: #F52042; font-size: 64px; font-family: Kyiv*Type Titling; font-weight: 350; word-wrap: break-word">рудовое право РФ</span></div>
<div style="width: 1440px; height: 10px; left: 0px; top: 190px; position: absolute; background: linear-gradient(90deg, #F52042 0%, #C0296F 25%, #8A319B 50%, #553AC8 75%, #2042F5 100%)"></div>
<div style="padding-top: 39px; padding-bottom: 38px; padding-left: 144px; padding-right: 145px; left: 786px; top: 40px; position: absolute; opacity: 0; justify-content: center; align-items: center; display: inline-flex">
<div style="text-align: center; color: black; font-size: 36px; font-family: Kyiv*Type Titling; font-weight: 350; letter-spacing: 7.20px; word-wrap: break-word">Ваш Аккаунт</div>
</div>
</div>
<div style="width: 480px; height: 160px; padding-top: 47px; padding-bottom: 36px; padding-left: 106px; padding-right: 114px; left: 480px; top: 1364px; position: absolute; background: linear-gradient(270deg, #973234 0%, #652C64 50%, #332594 100%); border-radius: 40px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
<div style="text-align: center; color: white; font-size: 64px; font-family: Kyiv*Type Titling; font-weight: 350; letter-spacing: 12.80px; word-wrap: break-word">Поиск</div>
</div>
<div style="width: 1289px; height: 462px; left: 0px; top: 280px; position: absolute">
<img style="width: 342px; height: 342px; left: 947px; top: 120px; position: absolute; border-radius: 171px" src="https://via.placeholder.com/342x342" />
<div style="width: 610px; left: 110px; top: 120px; position: absolute; color: black; font-size: 32px; font-family: Kyiv*Type Titling; font-weight: 350; letter-spacing: 1.60px; word-wrap: break-word">Узнайте о своих правах и обязанностях с помощью нашего сайта! Мало кто знает весь спектр своих возможностей, и именно Вы можете вступить в ряды просвещённых, изучив информацию, изложенную в ТК РФ, положения которого вы найдёте здесь.</div>
<div style="width: 986px; height: 80px; padding-left: 50px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, #2042F5 0%, #553AC8 25%, #8A319B 50%, #C0296F 75%, #F52042 100%); border-top-left-radius: 120px; justify-content: flex-end; align-items: center; display: inline-flex">
<div style="width: 936px; height: 80px; color: white; font-size: 48px; font-family: Kyiv*Type Titling; font-weight: 840; letter-spacing: 4.80px; word-wrap: break-word">Терпение и труд...</div>
</div>
</div>
<div style="width: 1289px; height: 462px; left: 151px; top: 822px; position: absolute">
<div style="width: 610px; left: 569px; top: 120px; position: absolute; color: black; font-size: 32px; font-family: Kyiv*Type Titling; font-weight: 350; letter-spacing: 1.60px; word-wrap: break-word">Текст 2 Текст 2 Текст 2 Текст 2Текст 2 Текст 2 Текст 2 Текст 2Текст 2 Текст 2 Текст 2 Текст 2Текст 2 Текст 2 Текст 2 Текст 2Текст 2 Текст 2 Текст 2 Текст 2Текст 2 Текст 2 Текст 2 Текст 2Текст 2 Текст 2 Текст 2 Текст 2Текст 2 Текст 2 Текст 2 Текст 2Текст 2 Текст 2 Текст 2 Текст 2</div>
<div style="width: 986px; height: 80px; padding-right: 50px; left: 303px; top: 0px; position: absolute; background: linear-gradient(90deg, #2042F5 0%, #553AC8 25%, #8A319B 50%, #C0296F 75%, #F52042 100%); border-top-left-radius: 120px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
<div style="width: 936px; height: 80px; text-align: right; color: white; font-size: 48px; font-family: Kyiv*Type Titling; font-weight: 840; letter-spacing: 4.80px; word-wrap: break-word">Заголовок 2</div>
</div>
<img style="width: 342px; height: 342px; left: 0px; top: 120px; position: absolute; border-radius: 171px" src="https://via.placeholder.com/342x342" />
</div>
<div style="width: 620px; height: 120px; left: 1320px; top: 260px; position: absolute">
<div style="width: 500px; height: 120px; left: 120px; top: 0px; position: absolute; background: #F5F5F5"></div>
<img style="width: 120px; height: 120px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 60px; border-top-right-radius: 60px" src="https://via.placeholder.com/120x120" />
</div>
<div style="width: 620px; height: 120px; left: 1320px; top: 260px; position: absolute">
<div style="width: 500px; height: 120px; left: 120px; top: 0px; position: absolute; background: #F5F5F5"></div>
<img style="width: 120px; height: 120px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 60px; border-top-right-radius: 60px" src="https://via.placeholder.com/120x120" />
</div>
</div>
</body>
</html>