{% extends 'main/page_layout.html' %}
{% block mtitle %} статья 10 {% endblock %}
{% block title %}2.5 Трудовые отношения, возникающие на основании трудового договора в результате назначения на должность или утверждения в должности{% endblock %}

{% block bt %}<a class="go_to_another_stat" id="go_left" href="page9"><</a>
                {% endblock %}
{% block content %}
<p>Трудовые отношения возникают на основании трудового договора в результате назначения на должность или утверждения в должности в случаях, предусмотренных трудовым законодательством и иными нормативными правовыми актами, содержащими нормы трудового права, или уставом (положением) организации.
</p><br/>


    {% endblock %}