{% extends 'main/page_layout.html' %}
{% block mtitle %} статья 6 {% endblock %}
{% block title %}2.1 Трудовые отношения{% endblock %}

{% block bt %}<a class="go_to_another_stat" id="go_left" href="page5"><</a>
                <a class="go_to_another_stat" id="go_right" href="page7">></a>
{% endblock %}
{% block content %}
<p>Трудовые отношения - отношения, основанные на соглашении между работником и работодателем о личном выполнении работником за плату трудовой функции (работы по должности в соответствии со штатным расписанием, профессии, специальности с указанием квалификации; конкретного вида поручаемой работнику работы) в интересах, под управлением и контролем работодателя, подчинении работника правилам внутреннего трудового распорядка при обеспечении работодателем условий труда, предусмотренных трудовым законодательством и иными нормативными правовыми актами, содержащими нормы трудового права, коллективным договором, соглашениями, локальными нормативными актами, трудовым договором.<br/><br/>

Заключение гражданско-правовых договоров, фактически регулирующих трудовые отношения между работником и работодателем, не допускается.</p>
    {% endblock %}