{% extends 'main/page_layout.html' %}
{% block mtitle %} статья 7 {% endblock %}
{% block title %}2.2 Основания возникновения трудовых отношений{% endblock %}

{% block bt %}<a class="go_to_another_stat" id="go_left" href="page6"><</a>
                <a class="go_to_another_stat" id="go_right" href="page6">></a>{% endblock %}
{% block content %}
<p>Трудовые отношения возникают между работником и работодателем на основании трудового договора, заключаемого ими в соответствии с настоящим Кодексом.
</p><br/>
<p>
    В случаях и порядке, которые установлены трудовым законодательством и иными нормативными правовыми актами, содержащими нормы трудового права, или уставом (положением) организации, трудовые отношения возникают на основании трудового договора в результате:<br/><br/>
избрания на должность;<br/><br/>
избрания по конкурсу на замещение соответствующей должности;<br/><br/>
назначения на должность или утверждения в должности;<br/><br/>
направления на работу уполномоченными в соответствии с федеральным законом органами в счет установленной квоты;<br/><br/>
судебного решения о заключении трудового договора;<br/><br/>
абзац седьмой утратил силу;<br/><br/>
признания отношений, связанных с использованием личного труда и возникших на основании гражданско-правового договора, трудовыми отношениями.
</p><br/>
<p>
    Трудовые отношения между работником и работодателем возникают также на основании фактического допущения работника к работе с ведома или по поручению работодателя или его уполномоченного на это представителя в случае, когда трудовой договор не был надлежащим образом оформлен.
Фактическое допущение работника к работе без ведома или поручения работодателя либо его уполномоченного на это представителя запрещается.
</p>

    {% endblock %}