{% extends 'main/page_layout.html' %}
{% block mtitle %} статья 4 {% endblock %}
{% block title %}1.4 Запрещение принудительного труда{% endblock %}
{% block content %}    <p>Принудительный труд запрещен</p><br />
<p>Принудительный труд - выполнение работы под угрозой применения какого-либо наказания (насильственного воздействия), в том числе:<br/><br/>
    в целях поддержания трудовой дисциплины;<br/><br/>
в качестве меры ответственности за участие в забастовке;<br/><br/>
в качестве средства мобилизации и использования рабочей силы для нужд экономического развития;<br/><br/>
в качестве меры наказания за наличие или выражение политических взглядов или идеологических убеждений, противоположных установленной политической, социальной или экономической системе;<br/><br/>
в качестве меры дискриминации по признакам расовой, социальной, национальной или религиозной принадлежности.
</p><br/>
<p>К принудительному труду также относится работа, которую работник вынужден выполнять под угрозой применения какого-либо наказания (насильственного воздействия), в то время как в соответствии с настоящим Кодексом или иными федеральными законами он имеет право отказаться от ее выполнения, в том числе в связи с:<br/><br/>
нарушением установленных сроков выплаты заработной платы или выплатой ее не в полном размере;<br/><br/>
возникновением непосредственной угрозы для жизни и здоровья работника вследствие нарушения требований охраны труда, в частности необеспечения его средствами коллективной или индивидуальной защиты в соответствии с установленными нормами.
</p><br/>
<p>
    Для целей настоящего Кодекса принудительный труд не включает в себя:<br/><br/>
работу, выполнение которой обусловлено законодательством о воинской обязанности и военной службе или заменяющей ее альтернативной гражданской службе;<br/><br/>
работу, выполнение которой обусловлено введением чрезвычайного или военного положения в порядке, установленном федеральными конституционными законами;<br/><br/>
работу, выполняемую в условиях чрезвычайных обстоятельств, то есть в случае бедствия или угрозы бедствия (пожары, наводнения, голод, землетрясения, эпидемии или эпизоотии) и в иных случаях, ставящих под угрозу жизнь или нормальные жизненные условия всего населения или его части;<br/><br/>
работу, выполняемую вследствие вступившего в законную силу приговора суда под надзором государственных органов, ответственных за соблюдение законодательства при исполнении судебных приговоров.
</p>
    {% endblock %}