{% extends 'main/page_layout.html' %}
{% block mtitle %} статья5 {% endblock %}
{% block title %}1.5 Трудовое законодательство и иные акты, содержащие нормы трудового права{% endblock %}

{% block bt %}<a class="go_to_another_stat" id="go_left" href="page4"><</a>
                <a class="go_to_another_stat" id="go_right" href="page6">></a>{% endblock %}
{% block content %}
<p>Регулирование трудовых отношений и иных непосредственно связанных с ними отношений в соответствии с Конституцией Российской Федерации, федеральными конституционными законами осуществляется:<br/><br/>
трудовым законодательством (включая законодательство об охране труда), состоящим из настоящего Кодекса, иных федеральных законов и законов субъектов Российской Федерации, содержащих нормы трудового права;<br/><br/>
иными нормативными правовыми актами, содержащими нормы трудового права:<br/><br/>
указами Президента Российской Федерации;<br/><br/>
постановлениями Правительства Российской Федерации и нормативными правовыми актами федеральных органов исполнительной власти;<br/><br/>
нормативными правовыми актами органов исполнительной власти субъектов Российской Федерации;<br/><br/>
нормативными правовыми актами органов местного самоуправления.
</p><br/>
<p>Трудовые отношения и иные непосредственно связанные с ними отношения регулируются также коллективными договорами, соглашениями и локальными нормативными актами, содержащими нормы трудового права.
</p><br/>
<p>
Нормы трудового права, содержащиеся в иных федеральных законах, должны соответствовать настоящему Кодексу.
В случае противоречий между настоящим Кодексом и иным федеральным законом, содержащим нормы трудового права, применяется настоящий Кодекс.
Если вновь принятый федеральный закон, содержащий нормы трудового права, противоречит настоящему Кодексу, то этот федеральный закон применяется при условии внесения соответствующих изменений в настоящий Кодекс.</p>
    {% endblock %}