{% extends 'main/page_layout.html' %}
{% block mtitle %} статья 8 {% endblock %}
{% block title %}2.3 Трудовые отношения, возникающие на основании трудового договора в результате избрания на должность{% endblock %}

{% block bt %}<a class="go_to_another_stat" id="go_left" href="page7"><</a>
                <a class="go_to_another_stat" id="go_right" href="page9">></a>{% endblock %}
{% block content %}
<p>Трудовые отношения на основании трудового договора в результате избрания на должность возникают, если избрание на должность предполагает выполнение работником определенной трудовой функции.
</p><br/>

    {% endblock %}