{% extends 'main/page_layout.html' %}
{% block mtitle %} статья 9 {% endblock %}
{% block title %}2.4  Трудовые отношения, возникающие на основании трудового договора в результате избрания по конкурсу{% endblock %}

{% block bt %}<a class="go_to_another_stat" id="go_left" href="page8"><</a>
                <a class="go_to_another_stat" id="go_right" href="page10">></a>{% endblock %}
{% block content %}
<p>Трудовые отношения на основании трудового договора в результате избрания по конкурсу на замещение соответствующей должности возникают, если трудовым законодательством и иными нормативными правовыми актами, содержащими нормы трудового права, или уставом (положением) организации определены перечень должностей, подлежащих замещению по конкурсу, и порядок конкурсного избрания на эти должности.
</p><br/>

    {% endblock %}