{% extends 'main/page_layout.html' %}
{% block mtitle %} статья 1 {% endblock %}
{% block title %}1.1 Основные начала трудового законодательства{% endblock %}

   {% block bt %} <a class="go_to_another_stat" id="go_right" href="page2">></a> {% endblock %}
{% block content %}    <p>Целями трудового законодательства являются установление государственных гарантий трудовых прав и свобод граждан, создание благоприятных условий труда, защита прав и интересов работников и работодателей.</p><br/>
<p>Основными задачами трудового законодательства являются создание необходимых правовых условий для достижения оптимального согласования интересов сторон трудовых отношений, интересов государства, а также правовое регулирование трудовых отношений и иных непосредственно связанных с ними отношений по:<br/>
организации труда и управлению трудом;<br /><br />
трудоустройству у данного работодателя;<br /><br />
подготовке и дополнительному профессиональному образованию работников непосредственно у данного работодателя;<br/><br />
социальному партнерству, ведению коллективных переговоров, заключению коллективных договоров и соглашений;<br/><br />
участию работников и профессиональных союзов в установлении условий труда и применении трудового законодательства в предусмотренных законом случаях;<br/>
материальной ответственности работодателей и работников в сфере труда;<br/><br />
государственному контролю (надзору), профсоюзному контролю за соблюдением трудового законодательства (включая законодательство об охране труда) и иных нормативных правовых актов, содержащих нормы трудового права;<br/>
разрешению трудовых споров;<br/><br />
обязательному социальному страхованию в случаях, предусмотренных федеральными законами.</p> {% endblock %}
