<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/CSS" href="../CSS/stat_page.css">
    <title>Statya pervaya (da, mne len menyat raskladku)</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/stat_page.css' %}">
</head>
<body>
    
    <section>
        <div class="title_of_stat">
            <p class="title_of_stat_text">
                <font style="opacity: 0.5; color: #FFFFFF;">
                    Статья 1. Цели и задачи трудового законодательства
                </font>
            </p>
        </div>
        <div class="text_of_stat">
            <p class="text">
                Целями трудового законодательства являются установление государственных гарантий трудовых прав и свобод граждан, создание благоприятных условий труда, защита прав и интересов работников и работодателей.<br/>
Основными задачами трудового законодательства являются создание необходимых правовых условий для достижения оптимального согласования интересов сторон трудовых отношений, интересов государства, а также правовое регулирование трудовых отношений и иных непосредственно связанных с ними отношений по:<br/>
организации труда и управлению трудом;<br />
трудоустройству у данного работодателя;<br />
подготовке и дополнительному профессиональному образованию работников непосредственно у данного работодателя;<br/>
социальному партнерству, ведению коллективных переговоров, заключению коллективных договоров и соглашений;<br/>
участию работников и профессиональных союзов в установлении условий труда и применении трудового законодательства в предусмотренных законом случаях;<br/>
материальной ответственности работодателей и работников в сфере труда;<br/>
государственному контролю (надзору), профсоюзному контролю за соблюдением трудового законодательства (включая законодательство об охране труда) и иных нормативных правовых актов, содержащих нормы трудового права;<br/>
разрешению трудовых споров;<br/>
обязательному социальному страхованию в случаях, предусмотренных федеральными законами.
            </p>
        </div>
    </section>

</body>
</html>