<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/CSS" href="../CSS/stat_page.css">
    <title>Statya pervaya (da, mne len menyat raskladku)</title>
</head>
<body>
    
    <button class="go_to_another_stat" id="go_left"><</button>
    <button class="go_to_another_stat" id="go_right">></button>
    <section>
        <div class="title_of_stat">
            <p class="title_of_stat_text">
                <font style="opacity: 0.5; color: #FFFFFF;">
                    Заголовок статьи
                </font>
            </p>
        </div>
        <div class="stat_content">
          <div class="text_of_stat">
              <p class="text">
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
              </p>
            </div>
        </div>
    </section>

</body>
</html>