<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/CSS" href="../CSS/stat_menu.css">
    <title>Список статей</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/stat_menu.css' %}">
    {% include "main/header.html" %}
</head>
<body>
    
    <section style="margin: 2.4% 0%; padding-top: 0.1%">

        <div class="title_stat">
            <p>
                Список доступных для чтения статей:
            </p>
        </div>

        <div class="box_stat">
            <a href="stat_page" class="text_stat">
                1.1. Цели и задачи трудового законодательства
            </a>
            <p class="go_to_page">>></p>
        </div>

        <div class="box_stat">
            <a href="#" class="text_stat">
                1.2. Нет
            </a>
            <p class="go_to_page">>></p>
        </div>

        <div class="box_stat">
            <p class="text_stat">
                1.3. Нет
            </p>
            <p class="go_to_page">>></p>
        </div>

        <div class="box_stat">
            <p class="text_stat">
                1.4. Нет
            </p>
            <p class="go_to_page">>></p>
        </div>

        <div class="box_stat">
            <p class="text_stat">
                1.5. Нет
            </p>
            <p class="go_to_page">>></p>
        </div>

        <div class="box_stat">
            <p class="text_stat">
                1.6. Нет
            </p>
            <p class="go_to_page">>></p>
        </div>

        <div class="box_stat">
            <p class="text_stat">
                1.7. Нет
            </p>
            <p class="go_to_page">>></p>
        </div>

        <div class="box_stat">
            <p class="text_stat">
                1.8.Нет
            </p>
            <p class="go_to_page">>></p>
        </div>

        <div class="box_stat">
            <p class="text_stat">
                1.9. Нет
            </p>
            <p class="go_to_page">>></p>
        </div>

        <div class="box_stat">
            <p class="text_stat">
                1.10. Нет
            </p>
            <p class="go_to_page">>></p>
        </div>

    </section>

</body>
</html>