.title_of_stat {
    background: linear-gradient(-90deg, #F52042, #BF2970, #8A319B, #553AC8, #2042F5);
    margin-left: -1%;
    width: 65%;
    border-bottom-right-radius: 100px;
}

.title_of_stat_text {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 64px;
    padding: 1% 5%;
    color: #DFDFDF;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
}

.text_of_stat {
    border: 1px solid #202425;
    margin: 1% 1%;
    background: #EFEFEF;
    text-decoration: none;

}

.text {
    text-indent: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 5% 5%;
    color: #202425;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
}